set timeout=5
set default=0

menuentry "Ramix" {
    linux /boot/bzImage root=/dev/ram0 rw console=tty0 console=ttyS0,115200 systemd.show_status=1 systemd.debug-shell=1 systemd.log_level=debug
    initrd /boot/initramfs.img
}